.admin-page-container{
  display: flex;
}
.admin-page{
  width: 100%;
  padding: 0 20px;
  .css-s7u8s0-MuiPaper-root{
    width: 100%;
  }
  .image-container{
    display: flex;
  }
  input{
    width: 400px;
  }
  select{
    width: 400px;
  }
  .form-input{
    margin-right: 15px;
  }
  textarea{
    font-size: 17px;
    background: none;
    outline: none;
    border: 1px solid var(--color-tab-hover);
    border-radius: 10px;
    min-width: 400px;
    max-width: 400px;
    min-height: 120px;
    max-height: 120px;
    color: var(--color-text);
    font-family: Inter, sans-serif;
    padding: 10px;
    box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.1);
  }
  textarea.active{
    border-color: var(--color-primary);
    box-shadow: 0 0 0 5px rgba(37, 99, 235, 0.2);
  }
  button{
    margin-top: 20px;
  }
}

@media screen and (max-width: 915px) {
  .admin-page-container{
    flex-direction: column;
    align-items: center;
  }
  .admin-page{
    text-align: center;
    .image-container{
      flex-direction: column;
      align-items: center;
    }
    input{
      width: 100%;
    }
    select{
      width: 100%;
    }
    textarea{
      width: 100%;
      min-width: 100%;
      max-width: 100%;
    }
  }
}