.sign-page {
  color: var(--color-text);
  height: 100vh;
  padding: 0 20px;
  h1 {
    padding-top: 50px;
    text-align: center;
    font-size: 40px;
    margin: 0 0 10px 0;
  }
  .sign-page-form{
    margin-bottom: 30px;
  }
  form{
    overflow: auto;
    margin: 0 auto;
    width: 45%;
    height: 75%;
    min-width: 200px;
    max-width: 550px;
    padding: 0 10px;
    animation: showForm 0.3s ease;
    div{
      text-align: center;
      a{
        color: var(--color-primary);
        text-decoration: none;
      }
      a:hover{
        text-decoration: underline;
      }
    }
  }

  @keyframes showForm {
    0%{
      opacity: 0;
    }100%{
      opacity: 1;
    }
  }

  ::-webkit-scrollbar {
    width: 5px; /* Largeur de la barre de défilement */
  }
  
  /* Track (piste) de la barre de défilement */
  ::-webkit-scrollbar-track {
    position: absolute;
    right: -10px;
    background: none; /* Couleur de fond de la piste */
  }
  
  /* Thumb (poignée) de la barre de défilement */
  ::-webkit-scrollbar-thumb {
    background: var(--color-text);
    border-radius: 20px;
  }

  .button-container{
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
  }

  .sign-step-container{
    width: 55%;
    min-width: 580px;
    max-width: 700px;
    margin: 0 auto;
    margin-top: 40px;
    transition: 1s ease;
    p{
        margin: 10px 0 0 0;
        color: var(--color-text-light);
    }
  }
  @media screen and (max-width: 650px){
    .sign-step-container{
      display: none;
    }
    form{
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;
      width: 100%;
    }
  }
}

.login-page{
  display: flex;
  align-items: center;
  justify-content: center;
  form{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}