.knowledge-test-container{
  display: flex;
  .knowledge-test-left{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    .knowledge-test-start-container{
      position: absolute;
      z-index: 10;
    }
    ul{
      width: auto;
      height: 550px;
      overflow: hidden;
      li{
        min-height: 110px;
        transition: 0.5s ease;
      }
      :before{
        -webkit-flex: 0;
      }
      .timeline-left{
        display: flex;
        align-items: center;
        margin-right: 25px;
      }
    }
  }
  .knowledge-test-right{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    padding: 0 50px;
    .keyboard-input-container{
      display: flex;
      align-items: flex-end;
      width: 80%;
    }
    h1{
      margin-top: 80px;
      margin-bottom: 40px;
      font-size: 80px;
      font-weight: 400;
      color: var(--color-primary);
    }
    .form-input{
      width: 100%;
    }
    .knowledge-test-right-bottom{
      margin-top: 30px;
      button{
        margin: 0 5px;
      }
    }
    .knowledge-test-right-stat{
      display: flex;
      margin-top: 30px;
    }
  }
}