.user-profile-page{
  width: 100%;
  .user-profile-header{
    display: flex;
    align-items: center;
    width: 100%;
  }
  .picture-profile{
    width: 200px;
    height: 200px;
    background-size: cover;
    border-radius: 50px;
    margin-right: 10px;
  }
  .user-profile-header-right{
    h1{
      font-size: 80px;
      color: var(--color-primary);
    }
  }
  .user-profile-content{
    width: 100%;
    color: var(--color-text);
    h3{
      font-size: 25px;
      font-weight: 100;
    }
  }
}

@media screen and (max-width: 800px) {
  .user-profile-page{
    .user-profile-header{
      flex-direction: column;
    }
    .user-profile-header-right{
      h1{
        font-size: 60px;
        margin: 10px 0;
      }
    }
    .user-profile-content{
      text-align: center;
      h3{
        font-size: 18px;
        font-weight: 100;
      }
    }
  }
}