.user-page-container{
  display: flex;
}

.vertical-nav-container{
  min-width: 260px;
  width: fit-content;
  .vertical-nav-tab{
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 15px;
    cursor: pointer;
    color: var(--color-text);
    .vertical-nav-tab-content{
      display: flex;
      justify-content: space-between;
      div {
        display: flex;
        align-items: center;
      }
      .tag{
        background-color: #DBEAFE;
        color: #1E40AF;
        padding: 0 5px;
        border-radius: 20px;
        font-size: 11px;
      }
      span{
        margin-left: 6px;
      }
    }
    .vertical-nav-tab-extends-container{
      padding: 10px 10px 0 10px;
      max-height: 200px;
      div{
        margin-bottom: 5px;
      }
      span{
        color: var(--color-text);
        transition: 0.1s ease;
      }
      span:hover{
        color: var(--color-primary);
      }
    }
  }
}

.user-page{
  padding: 20px;
  width: 100%;
}