.header-nav-container{
  position: fixed;
  display: flex;
  align-items: center;
  right: 0;
  height: 70px;
  padding: 0 20px;
  .header-nav{
    display: flex;
    align-items: center;
    .nav-tab{
      color: #1F2937;
      margin: 0 15px;
      cursor: pointer;
      transition: 0.1s ease;
    }
    .nav-tab:hover{
      color: #2563EB;
    }
    .search-icon{
      margin: 0 20px;
      cursor: pointer;
    }
    .buttons-container{
      button {
        padding: 10px;
        font-size: 16px;
        outline: none;
        border-radius: 7px;
        border: 2px solid #E5E7EB;
        font-weight: 500;
        margin-left: 10px;
        color: #1F2937;
        cursor: pointer;
        box-shadow: 1px 1px 5px 0 rgba(0, 0 , 0, 0.1);
        background: none;
        transition: 0.1s ease;
      }
    }
    .btn-no-back:hover{
      background-color: #2563EB;
      color: #fff;
    }
  }
}