.header-nav-container{
  position: fixed;
  display: flex;
  align-items: center;
  right: 0;
  top: 0;
  height: 75px;
  width: 100%;
  padding: 0 30px 0 30px;
  z-index: 100;
  .header-nav-logo{
    width: 45px;
  }
  .header-nav{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
    background-color: var(--header-nav-color);
  }
  .nav-tab{
    color: var(--color-text);
    margin: 0 15px;
    cursor: pointer;
    transition: 0.1s ease;
  }
  .nav-tab:hover{
    color: var(--color-primary);
  }
  .search-icon{
    margin: 0 20px;
    cursor: pointer;
  }
  .buttons-container{
    display: flex;
    button {
      padding: 10px;
      display: flex;
      align-items: center;
      font-size: 16px;
      outline: none;
      border-radius: 7px;
      border: 1px solid var(--color-tab-hover);
      font-weight: 500;
      margin-left: 10px;
      color: var(--color-text);
      cursor: pointer;
      box-shadow: 1px 1px 5px 0 rgba(0, 0 , 0, 0.3);
      background: none;
      transition: 0.1s ease;
      svg{
        margin-right: 10px;
      }
    }
  }
  .btn-no-back:hover{
    background-color: var(--color-tab-hover);

  }
  .nav-hamburger{
    display: none;
    flex-direction: column;
    width: 22px;
    cursor: pointer;
    z-index: 100;
    span{
      background: var(--color-text);
      border-radius: 10px;
      height: 2px; /* Adjusted for smaller width */
      margin: 3px 0; /* Adjusted for smaller width */
      transition: .4s cubic-bezier(0.68, -0.6, 0.32, 1.6);

    }
    span:nth-of-type(1) {
      width: 11px; /* 50% of 22px */
    }

    span:nth-of-type(2) {
      width: 22px; /* 100% of 22px */
    }

    span:nth-of-type(3) {
      width: 16.5px; /* 75% of 22px */
    }
  }
  .nav-hamburger.active{
    span:nth-of-type(1) {
      transform-origin: bottom;
      transform: rotateZ(47deg) translate(3px, 0px); /* Adjusted for smaller width */
    }
    span:nth-of-type(2) {
      transform-origin: top;
      transform: rotateZ(-50deg);
    }
    span:nth-of-type(3) {
      transform-origin: bottom;
      width: 11px; /* 50% of 22px */
      transform: translate(10px, -5px) rotateZ(52deg); /* Adjusted for smaller width */
    }
  }
  .header-nav-right{
    z-index: -1;
    display: none;
    position: absolute;
    width: 250px;
    height: 100vh;
    background-color: var(--color-secondary);
    box-shadow: 1px 0 10px -0px rgba(0, 0, 0, 0.3);
    right: -250px;
    top: 0;
    text-align: center;
    padding: 75px 0 0 0;
    transition: 0.3s ease;
    .nav-tab{
      margin: 20px 0;
    }
    .buttons-container{
      flex-direction: column;
      button{
        display: flex;
        justify-content: center;
        width: 50%;
        margin: 10px auto;
      }
    }
  }
}

@media screen and (max-width: 540px) {
  .header-nav-container{
    justify-content: space-between;
    .header-nav{
      display: none;
    }
    .nav-hamburger{
      display:flex;
    }
    .header-nav-right{
      display: block;
    }
  }
}