.shortcut-container{
  width: 75%;
  border: 2px solid var(--color-tab-hover);
  border-radius: 20px;
  margin-bottom: 30px;
  .shortcut-nav{
    position: relative;
    display: flex;
    width: 100%;
    height: 60px;
    border-bottom: 2px solid var(--color-tab-hover);
    .tab{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50%;
      font-size: 20px;
      font-weight: 500;
      cursor: pointer;
      color: var(--color-text);
    }
    .tab-bottom-bar{
      position: absolute;
      top: 58px;
      width: 50%;
      height: 2px;
      background-color: var(--color-primary);
      transition: 0.1s ease;
    }
  }
  .shortcut-content{
    padding: 20px;
    h3{
      font-size: 26px;
      font-weight: 100;
      margin: 0;
      color: var(--color-text);
    }
    p{
      margin: 10px 0 0 0;
      font-size: 20px;
      color: var(--color-text-light)
    }
  }
}

.all-keys-container{
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  .keys{
    display: flex;
    color: var(--color-text);
    .more{
      margin-right: 6px;
    }
  }

}
.key-container{
  font-size: 15px;
  background-color:  var(--color-tab-hover);;
  padding: 2px 7px;
  border-radius: 5px;
  margin-right: 8px;
}