.side-bar-container{
  display: flex;
  position: fixed;
  height: 100vh;
  .side-bar-logo{
    width: 40px;
    margin-bottom: 15px;
  }
  .small-side-bar{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: -44px 0px 15px 36px #6B7280;
    width: 105px;
    padding: 20px 30px 20px 30px;
    height: 100%;
  }
  .tab-container{
    margin: 2px 0;
    padding: 9px 17px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s ease;
  }
  .tab-container:hover{
    background-color: #F3F4F6;
  }
  span{
    font-size: 20px;
    color: #6B7280;
    margin-bottom: 15px;
  }

  .side-bar-expand-container{
    margin-left: 10px;
    padding:20px;
    width: 310px;
    height: 100%;
    background-color: #fff;
    box-shadow: 1px 0 10px -3px #6B7280;
    h2{
      font-size: 30px;
      margin: 0;
      color: #2563EB;
    }
    .side-bar-expand-top{
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      svg{
        cursor: pointer;
      }
    }
    .side-bar-expand-content{
      margin-top: 30px;
      width: 100%;
    }
  }
}

.expand-tab-container{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 20px;
  transition: 0.2s ease;
  .expand-tab-title{
    display: flex;
    align-items: center;
    width: 100%;
    height: 30px;
    transition: 0.2s ease;
    svg{
      transition: 0.2s ease;
      cursor: pointer;
    }
    .toggle-container{
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      height: auto;
      padding: 0 10px;
      font-size: 20px;
      .toggle-button{
        display: flex;
        align-items: center;
        transition: 0.2s ease;
      }
    }
  }
  .expand-tab-content-container{
    padding: 12px;
    width: 100%;
    .expand-tab-content{
      width: 100%;
      border-left: 3px solid #E5E7EB;
    }
    .expand-tab{
      .tab{
        margin-left: 10px;
        padding: 12px;
        width: 220px;
        border-radius: 10px;
        cursor: pointer;
      }
      .tab:hover{
        background-color: #E5E7EB;
      }
      span{
        color: #1F2937;
      }
    }
  }
}