:root {
    --color-primary: #2563EB;
    --color-secondary: #fff;
    --header-nav-color: rgba(255, 255, 255, 0.5);
    --color-text: #1F2937;
    --color-text-light: #6B7280;
    --color-error: #EF4444;
    --color-success: #14b8a6;
    --color-tab-hover: #E5E7EB;
}

[data-theme="dark"] {
    --color-primary: #2563EB;
    --color-secondary: #1b1c21;
    --header-nav-color: rgba(27, 28, 33, 0.5);
    --color-text: #dcdcdc;
    --color-text-light: #adb6c2;
    --color-error: #EF4444;
    --color-success: #14b8a6;
    --color-tab-hover: #282a31;
}

*{
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
  font-family: Inter, sans-serif;
  background-color: var(--color-secondary);
}

a{
  text-decoration: none;
}

.miaw-page{
  width: 100%;
  padding-left: 110px;
  .saas-page{
    padding-top: 80px;
    width: 90%;
    height: 100vh;
    margin: 0 auto;
    max-width: 1400px;
  }
}

@media screen and (max-width: 550px){
  .miaw-page{
    padding-left: 0;
  }
}

/* Largeur de la barre de défilement */
::-webkit-scrollbar {
  width: 5px;
}

/* Couleur de fond de la barre de défilement */
::-webkit-scrollbar-track {
  background: none;
}

/* Couleur de la poignée */
::-webkit-scrollbar-thumb {
  background: var(--color-tab-hover);
}

/* Rond sur la poignée */
::-webkit-scrollbar-thumb:hover {
  background: var(--color-tab-hover);
}