:root {
    --color-primary: #2563EB;
    --color-secondary: #fff;
    --color-text: #1F2937;
    --color-text-light: #6B7280;
    --color-error: #EF4444;
    --color-success: #14b8a6;
    --color-tab-hover: #e9eaec;
}



*{
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
  font-family: Inter, sans-serif;
}

a{
  text-decoration: none;
}

.miaw-page{
  width: 100%;
  padding-left: 110px;
  .saas-page{
    padding-top: 80px;
    width: 90%;
    height: 100vh;
    margin: 0 auto;
    max-width: 1400px;
  }
}